<section class="login flex justify-center bg-gray-100 pt-10">
  <div class="login-box">
    <img class="h-20 mx-auto" src="/img/user-logo.jpg" alt="">
    <form action="/login" , method="POST">
      <% if(messages.error){%>
        <span class="text-red-500 text-sm">
          <%= messages.error%>
        </span>
        <% } %>
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" name="email" value="<%= messages.email %>" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Enter Username">
          </div><br>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
              placeholder="Enter Password">
          </div>
          <button type="submit"
            class="w-1/4 mt-6 text-indigo-50 font-bold py-2 rounded-full transition duration-300 order-btn">Login</button>
          <a href="/register" class="text-sm text-gray-700 inline-block mt-4 ml-6 transition duration-200">Don't have
            account ? Register here</a>
    </form>
  </div>
</section>
<p class="foot-text"> © Biswajit Mishra <br>© Food House All right resereved</p>