<section class="login flex justify-center bg-gray-100 pt-10 pb-20">
  <div class="max-h-screen flex items-center">
    <div class="container mx-auto max-w-md shadow-md hover:shadow-lg transition duration-300">
      <div class="py-8 px-10 bg-white rounded-xl">
        <form action="/login" method="POST">
          <% if(messages.error){%>
            <span class="text-red-500 text-sm"><%= messages.error%></span>
            <% } %>
          <div class="mb-6">
            <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="name">Username</label>
            <input type="text" name="email" value="<%= messages.email %>"
              class="border bg-gray-100 py-2 px-4 w-96 outline-none focus:ring-2 focus:ring-indigo-400 rounded"
              placeholder="username" />
          </div>
          <div class="">
            <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="password">password</label>
            <input type="password" name="password"
              class="border bg-gray-100 py-2 px-4 w-96 outline-none focus:ring-2 focus:ring-indigo-400 rounded"
              placeholder="password" />
          </div>

          <button type="submit"
            class="w-1/4 mt-6 text-indigo-50 font-bold py-2 rounded-full transition duration-300 order-btn">LOGIN</button>
          <a href="/register" class="text-sm text-gray-700 inline-block mt-4 ml-6 transition duration-200">Don't have
            account ? Register here</a>
        </form>
      </div>
    </div>
  </div>
</section>