<section class="hero py-10">
    <div class="container mx-auto px-20 flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg mb-2 px-1 text-gray-500"><em>Healthy and testy food</em></h6>
            <h1 class="text-6xl font-bold">Get On Your Door Step !</h1>
            <button class="px-6 py-2 rounded-full font-bold text-white mt-4 order-btn">Order Now</button>
        </div>
        <div class="w-1/2">
            <img src="/img/food.png" alt="food">
        </div>
    </div>
</section>
<section class="menu container mx-auto px-20 py-8">
    <h1 class="text-xl fint-bold mb-8">All Items</h1>
    <div class="grid grid-cols-4 gap-16">
        <% allItems.forEach((item)=>{ %>


            <div>
                <img class="h-40 mb-4 mx-auto rounded-xl" src="/img/<%=item.image%>" alt="dosa">
                <div class="text-center">
                    <h2 class="mb-4 text-lg"><%= item.name %></h2>
                    <div class="flex items-center justify-around">
                        <span class="font-bold text-lg">₹ <%= item.price %></span>
                        <button data-food="<%= JSON.stringify(item)%>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <% }) %>
    </div>





    </div>


</section>