<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food House</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,100;1,300;1,700&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/app.css">
</head>

<body>

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand logo-box" href="/">
                <img src="/img/logo.png" alt="logo" width="30" height="24"
                    class="d-inline-block align-text-top logo-img"><br />
                <h6 class="logo-name">Food House</h6>
            </a>
            <!--  <a class="navbar-brand" href="/">Food House</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">
                            <p class="nav-elements">Menu</p>
                        </a>
                    </li>
                    <% if(user){ %>
                        <li class="nav-item">
                            <form id="logout" action="/logout" method="POST"></form>
                            <a class="nav-link" onclick="document.getElementById('logout').submit()" href="#">
                                <p class="nav-elements">Logout</p>
                            </a>
                            </form>
                        </li>
                       
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/customer/orders">
                                    <p class="nav-elements">My Orders</p>
                                </a>
                            </li>
                        

                                <% }else{%>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/register">
                                            <p class="nav-elements">Register</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/login">
                                            <p class="nav-elements">Login</p>
                                        </a>
                                    </li>
                                    <% } %>
                </ul>
                <% if(user){ %>
                    <% if(user.role === "admin"){ %>
                    <form class="form-inline my-2 my-lg-0" method="GET" action="/admin/orders">
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Order Dashboard</button>
                      </form>
                      
                    <% }} %>
                        <form class="d-flex">

                            <li class="ml-0 lg:ml-6 cart-1"><a class="inline-block px-3 py-1 rounded-full a-text"
                                    href="/cart">
                                    <span class="cartCounter" class="pr-1">
                                        <%= session.cart ? session.cart.totalQuantity : ' ' %>
                                    </span>
                                    <i class="fas fa-shopping-cart icon"></i>
                                </a></li>
                        </form>
            </div>
        </div>
    </nav>

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <!--  <nav class="container mx-auto px-20 py-3 flex items-center justify-between">
        <div>
            <a href="/">
                <img src="/img/logo.png" alt="logo">
                <p class="font-bold">Food House</p>
            </a>
        </div>
        <div>
            <ul class="flex items-center">
                <li class="ml-6"><a href="/">Menu</a></li>
                <% if(user){ %>
                    <li class="ml-6">
                       <form id="logout" action="/logout" method="POST">    
                        <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
                       </form>
                    </li>
                    <% }else{%>
                        <li class="ml-6"><a href="/register">Register</a></li>
                        <li class="ml-6"><a href="/login">Login</a></li>
                        <% } %>
                          <!--  <li class="ml-6"><a href="#">Offers</a></li> -->
    <!--                       <li class="ml-6"><a class="inline-block px-4 py-1 rounded-full" href="/cart">
                                    <span class="cartCounter" class="pr-1">
                                        <%= session.cart ? session.cart.totalQuantity : ' ' %>
                                    </span>
                                    <i class="fas fa-shopping-cart"></i>
                                </a></li>
            </ul>
        </div>
    </nav> -->
    <%- body %>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/app.js"></script>
</body>

</html>