<style>
body {
    background-color: #b2d6ec;
  }
  
  .mainbox {
    background-color: #b2d6ec;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
  }
  
    .err {
      color: #FF6666;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #FF6666;
  }
  
   .err2 {
      color: #FF6666;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 68%;
      top: 8%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }
  
  a {
    text-decoration: none;
    color: #FF6666;
  }
  
  a:hover {
    text-decoration: underline;
  }

</style>

<body>
    <div class="mainbox">
      <div class="err">4</div>
      <i class="far fa-question-circle fa-spin"></i>
      <div class="err2">4</div>
      <div class="msg"> Page Not Found<p>Let's go <a href="/">home</a> and try from there.</p></div>
        </div>
</body>