body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #FE5F1E;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
nav li:last-child a:hover {
  background: #b23301;
  color: #fff;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
  border-bottom: 2px solid #ccc;
}

section.hero {
  background: #F8F8F8;
}

.order-btn {
  background: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.order-btn:hover {
  background: #b23301;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #fff;
  color: #fff;
}

section.cart {
  background: #F8F8F8;
}
section.cart .amount {
  color: #FE5F1E;
}

.cart-icon {
  color: #FE5F1E;
}

section.login {
  background: #F8F8F8;
}
section.login a {
  color: #FE5F1E;
  cursor: pointer;
}
section.login a:hover {
  color: #b23301;
}
