
// colors

// $primary: #FE5F1E;
// $primary-hover: #b23301;

$secondary:#edeae1;
$pure : #fff;
$dark: #232323;
$gray: #ccc;

$primary: #FF6666;
$primary-hover:#B9345A;

// transition

$smooth: all .3s ease-in-out;